{% extends "_base.html" %}

{% block title%} Iniciar sesion {% endblock %}

{% block content %}
  <div class="hero-lg" style="margin-left:10%; margin-top:10%">
    <form method="post" action="{% url 'login' %}">
      {% csrf_token %}
      <table>
        <tr>
          <div class="form-group">
            <label class="form-label" for="input-example-1">{{ form.username.label_tag }}</label>
            {{ form.username }}
          </div>
        </tr>
        <tr>
          <div class="form-group">
            <label class="form-label" for="input-example-1">{{ form.password.label_tag }}</label>
            {{ form.password }}
          </div>
        </tr>
      </table>
      <input type="submit" class="btn" value="Iniciar sesion" />
      <input type="hidden" name="next" value="{{ next }}" />
    </form>

    {# Assumes you setup the password_reset view in your URLconf #}
    <p><a href="{% url 'password_reset' %}">Olvido contraseña?</a></p>
    {% if form.errors %}
      <p class="text-bold text-error">Nombre de usuario o contraseña incorrectos</p>
    {% endif %}

    {% if next %}
      {% if user.is_authenticated %}
        <p class="text-error">Ya esta logeado</p>
      {% else %}
        <p class="text-error">Solo para usuarios del sitio</p>
      {% endif %}
    {% endif %}

  </div>
{% endblock %}
