<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}TP{% endblock title %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'spectre.min.css' %}">
    <link rel="stylesheet" href="{% static 'spectre-exp.min.css' %}">
    <link rel="stylesheet" href="{% static 'spectre-icons.min.css' %}">
</head>

<body>
<header class="navbar" style="margin: 1rem; border">
  <section class="navbar-section">
    <a href="..." class="navbar-brand mr-2">Trabajo Practico</a>
    <a href="..." class="btn btn-link">Usuario</a>
    <a href="..." class="btn btn-link">Avisos</a>
  </section>
  <section class="navbar-section">
    <a href="..." class="btn btn-link">Alumno</a>
  </section>
</header>
    {% block content %}
    {% endblock content %}
</body>
</html>
