<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}TP{% endblock title %}</title>
    {% load static %}
    <link rel="shortcut icon" type="image/ico" href="{% static 'favicon.ico' %}"/>
    <link rel="stylesheet" href="{% static 'spectre.min.css' %}">
    <link rel="stylesheet" href="{% static 'spectre-exp.min.css' %}">
    <link rel="stylesheet" href="{% static 'spectre-icons.min.css' %}">
</head>

<body>
<header class="navbar" style="margin: 1rem; border">
  <section class="navbar-section">
    <a href="{% url 'home' %}" class="navbar-brand mr-2">Avisos terciario</a>
    <a href="{% url 'avisos-list' %}" class="btn btn-link">Avisos</a>
    {% if user.is_authenticated %}
    <a href="{% url 'password_change' %}" class="btn btn-link">Usuario</a>
    {% endif %}
  </section>
    <section class="navbar-center">
      <img src="{% static 'logo.png' %}" alt="Urquiza" style="height: 32px; width: 42">
    </section>
    <section class="navbar-section">
    {% if user.is_authenticated is False %}
    <a href="{% url 'login' %}" class="btn btn-link">Iniciar sesión</a>
    <a href="{% url 'us' %}" class="btn btn-link"></a>
    {% endif %}
    {% if user.is_authenticated %}
    <a href="{% url 'logout' %}" class="btn btn-link">Cerrar Sesión</a>
    {% endif %}
    <a href="{% url 'us' %}" class="btn btn-link">Sobre nosotros</a>
  </section>
</header>
    {% block content %}
    {% endblock content %}
</body>
</html>
