{% extends "_base.html" %}

{% block title %}Avisos{% endblock %}


{% block content %}
    <div class="container">
      {% if user.is_authenticated %}
      <a class="btn p-fixed" href="{% url 'nuevo-aviso' %}" style="margin-top: 10px">Nuevo</a>
      {% endif %}
      <div class="divider"></div>
      <div class="columns" style="margin-top: 2.5rem">
        {% for aviso in object_list %}
        <div class="column col-12">
            <h2 class="text-primary text-bold text-large">
                {{ aviso.titulo }}
            </h2>
            <h5 class="text-secondary">{{ aviso.created_at }}</h5>
            <p class="text-dark">{{ aviso.descripcion }}</p>
            <p class="text-center">
                Contacto: {{ aviso.contacto }}
            </p>
            <div class="divider text-center"></div>
        </div>
        {% empty %}
        <div class="column col-12">Sin avisos</div>
        {% endfor %}
      </div>
    </div>
{% endblock %}
