{% extends '_base.html' %}

{% load static %}

{% block title %}Home{% endblock title %}

{% block content %}
<div class="hero hero-lg" style="margin-left:10%">
  <div class="hero-body">
    <div class="container">
    <div class="columns">
        <div class="column col-8">
          <div class="text-left">
            <h1 class="text-primary text-large">Sitio de avisos del teciario</h1>
            <h1 class="text-gray text-large">En este lugar encontrara avisos sobre la institución.</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
